#container {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
}

input {
  display: block;
  margin: 0 auto;
  height: 2em;
  width: 100em;
}

.people-div {
  text-align: center;


}

.even-class {
  background-color: rgb(245, 252, 157);
}

.odd-class {
  background-color: rgb(158, 250, 252);
}

.border-class {
  border: 2px dotted black;
}
